{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,

  "importOrder": ["^(@shared|@entities|@features|@widgets|@pages|@app)(/.*)$", "^[~/]", "^./(.*)", "^../(..*)"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "overrides": [
    {
      "files": "*.svg",
      "options": { "parser": "html" }
    }
  ]
}
